* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo_list{
    width: 70%;
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
    padding: 2.5rem;
    box-shadow:
        0 1px 1px rgba(0,0,0,0.15),
        0 10px 0 -5px #eee,
        0 10px 1px -4px rgba(0,0,0,0.15),
        0 20px 0 -5px #eee,
        0 20px 1px -9px rgba(0,0,0,0.10)
    ;
}

.todo_item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 4rem;
    border-bottom: 1px solid rgb(211, 211, 211);
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}

